/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* Variable */

:root {
  --main-bg-color: rgb(100,65,215);
  --main-color: rgb(100,65,215);
  --secondary-bg-color: #323232;
  --danger-color: #E53935;
  --ok-color: #009688;
  --caption-color: #9E9E9E;
  --inactive-color: #616161;
}

/* Typography */
i {
  font-family: Roboto-Italic;
}

b {
  font-family: Roboto-Bold;
}

h1 {
  font-family: Roboto-Thin;
  font-size: 5em;
  font-weight: normal;
  font-style: normal;
  margin-top: 42px;
  margin-bottom: 42px;
}

h1 i {
  font-family: Roboto-Thin-Italic;
}

h5 {
  margin: 15px 0 5px 0;
  font-family: Roboto;
  font-size: 1.1em;
  font-weight: normal;
}

.caption {
  color: var(--caption-color);
  font-size: 0.85em;
}

.danger {
  color: var(--danger-color);
}

/* Container */
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.line {
  display: block;
}

/* Elements */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-family: Roboto;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #2f3136;
  background-image: url("assets/img/kda.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

button {
  transition: 0.4s;
  background-color: rgba(100,65,215);
  border: none;
  border-radius: 4px;
  color: white;
  font-family: Roboto-Bold;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 32px;
  text-transform: uppercase;
  margin-left: 8px;
  margin-right: 8px;
}

button:first-child {
  margin-left: 0;
}

button:last-child {
  margin-right: 0;
}

button:hover {
  background-color: rgba(116,76,205);
}

button:active {
  transition: 0;
  background-color: rgb(78,51,168);
}

button.icon {
  text-transform: none;
  font-family: Material-Icons;
  font-size: 24px;
  min-width: 0;
  padding-left: 8px;
  padding-right: 8px;
}

input {
  outline: none;
}

input {
  transition: 0.2s;
  box-sizing: border-box;
  width: 280px;
  height: 56px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid var(--inactive-color);
  border-radius: 4px;
  -webkit-appearance: unset;
  margin-top: 10px;
  margin-bottom: 10px;
}

input:hover, input:active, input:focus {
  border-width: 2px;
  padding-left: 13px;
  padding-right: 13px;
}

input:active, input:focus {
  border-color: var(--main-bg-color)
}

input[type=checkbox] {
  transition: 0.2s;
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 0;
  border: 2px solid var(--inactive-color); /* gray 700 */
  border-radius: 2px;
  vertical-align: middle;
  margin: 0;
  margin-right: 8px;
  cursor: pointer;
  -webkit-appearance: unset;
  vertical-align: text-bottom;
  top: -2px;
}

input[type=checkbox]:after {
  content: "";
  transition: opacity 0.2s;
  position: absolute;
  opacity: 0;
}

input[type=checkbox]:checked {
  border-color: var(--ok-color);
  background-color: var(--ok-color);
}

input[type=checkbox]:checked:after {
  top: 3px;
  left: 2px;
  width: 8px;
  height: 3px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
  opacity: 1;
}

/*input[type=checkbox] + label {
  color: var(--danger-color);
}

input[type=checkbox]:checked + label {
  color: #009688;
}*/


.block{
    min-height: 20px;
    min-width: 50px;
    height: 150px;
    width: 300px;
    background-color: rgba(0,0,0,0.2);
    color: white;
}

.drag-block-handle{
    height:20px;
    width:20px;
    background-color:blue;
    position:absolute;
}

.locked{
    display:none;
}

.finalBlock{
    width:150px;
    height:20px;
}

.templateComponent{
    border-left:solid white 2px;
    display:block;
    margin-left:20px;
    padding-left: 5px;
}

.templateOptionsTitle{
    margin-left: 20px;
    border-left: solid white 2px;
    text-decoration: underline;
    padding-bottom: 5px;
    padding-left: 5px;
}
.templateOptions{
    margin-left: 20px;
    border-left: solid white 2px;
}

.click{
    cursor:pointer;
}

.list > .block {
    display:inline-block;
}